<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bootstrap/css/tela-login.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="row mt-3" >
   		 
      <form action="/login" class="px-4 py-3 rounded mx-auto" method="POST">
      	<div th:if="${param.error}">
			<div class="alert alert-danger">Usuário e/ou senha inválidos!</div>
		</div>

        <div align="center" class="img-logo">
          <img src="../imgs/logo-policia.png">
        </div>
        <h3 class="mt-2" align="center">Controle IPC</h3>
        <h5 class="mt-1 text-center">Entrar</h5>
        
        <div class="form-group">
          <label for="nome">Usuário</label>
          <input type="text" name="username" class="form-control" id="nome" placeholder="Exemplo: usuario" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" name="password" class="form-control" id="senha" placeholder="senha" required>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="lembarUsuario">
          <label class="form-check-label mb-2" for="lembrar">Lembrar senha</label>
        </div>
        <button type="reset" class="btn btn-light" >Limpar</button>
        <button type="submit" class="btn btn-primary" onclick="validaLogin()">Entrar</button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Novo por aqui? Cadastrar-se</a>
        <a class="dropdown-item" href="#">Esqueceu a senha?</a>
      </form>
    </div>
    <!--jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário-->
    <script language="JavaScript" src="/bootstrap/js/bootstrap.js"></script>
    <script language="JavaScript" src="/bootstrap/js/tela-login.js"></script>
  </body>
</html>
